.editJobModal {
    margin: 5px;
    border: none;
    position: absolute;
    width: 70%;
    height: 95%;
    top: 2.5%;
    left: 15%;
    background-color: white;
    border-radius: 14px;
    align-items: center;
    justify-content: center;
}

.myModalDialog {
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 90%;
}

.myModalContent {
    width: 1217px;
    border: none;
}

.editJob {
    display: flex;
    flex-direction: column;
    margin: 5px;
    border: none;
    width: 100%;
}

.headline {
    font-weight: 500;
    font-size: 28.4615px;
    line-height: 33px;

    color: #0038ff;
    margin-bottom: 15px;
}

.formDescription {
    font-weight: 500;
    font-size: 22.6531px;
    line-height: 27px;
    color: #adadad;
    margin: 0px 15px;
}

.horizontalRow {
    width: 95%;
    border: 2px solid #adadad;
    margin: 0px 0px 20px 0px;
}

.blueHorizontalRow {
    position: absolute;
    width: 22%;
    border: 3px solid #0038ff;
    z-index: 10;
    left: 1;
}

.jobDescForm {
    width: 95%;
    padding: 5px;
    border: none;
}

.formRow {
    display: flex;
    padding: 0px 10px;
    margin-bottom: 12px;
    width: 100%;
    align-items: center;
}

.formLabel {
    font-weight: 500;
    font-size: 22px;
    line-height: 30px;
    color: #000000;
    width: 20%;
    margin-right: 50px;
}

.formInput {
    background: #ffffff;
    border: 2px solid #c2c2c2;
    border-radius: 5px;
    margin-right: 10px;
    width: 40%;
}

.formValidationError {
    font-size: 1rem;
    color: red;
    width: 32%;
}

.formSelect {
    background: #ffffff;
    border: 2px solid #c2c2c2;
    border-radius: 5px;
    width: 10%;
}

.formBottomRow {
    display: flex;
    align-items: flex-end;
    margin: 50px 10px 10px 66%;
}

.closeButton {
    background: #ffffff;
    border: 1px solid #cecece;
    border-radius: 6px;
    margin-right: 10px;
    color: #cecece;
    width: 143px;
    height: 41.28px;
}

.submitButton {
    color: white;
    background: #0038ff;
    border-radius: 6.29654px;
    border: none;
    width: 143px;
    height: 41.28px;
}

sup {
    font-size: 0.8rem;
}

@media (max-width: 1500px) {
    .myModalDialog {
        max-width: 1000px;
    }
    .myModalContent {
        width: 1000px;
    }
}

@media (max-width: 1400px) {
    .myModalDialog {
        max-width: 900px;
    }
    .myModalContent {
        width: 900px;
    }
}

@media (max-width: 1200px) {
    .myModalDialog {
        max-width: 680px;
    }
    .myModalContent {
        width: 680px;
    }
}
