.navbar {
    /* height: 6vw; */
    width: 100%;
    padding: 0px 20px 5px 20px;
    margin: 0 auto 10px;
}

.top {
    display: flex;
    width: 100%;
    height: 70%;
    position: relative;
}

.appLogo {
    width: 100px;
    height: 46px;
    background-color: white;
    margin-right: 10px;
    background: url("../../../public/images/mountain\ 1.png") no-repeat;
}

.appName {
    font-weight: 500;
    font-size: 40px;
    line-height: 47px;
    color: #0038ff;
    margin-right: 40%;
    text-decoration: none;
}

.currentProfile {
    display: flex;
    align-items: center;
    position: absolute;
    right: 20px;
}

.profileGreeting {
    font-weight: 500;
    font-size: 19px;
    line-height: 22px;
    color: #a4a4a4;
    margin-right: 15px;
}

.profilePicture {
    height: 70px;
    width: 70px;
    border-radius: 50%;
    border: 1px solid #a4a4a4;
    background: url("../../../public/images/Pexels\ Photo\ by\ Andrea\ Piacquadio.png")
        no-repeat;
    background-size: contain;
}

.appDescText {
    font-weight: 500;
    font-size: 20px;
    line-height: 25px;
    color: #858585;
}

.blueText {
    color: #0038ff;
}
